post-list {
    iframe{
        border: solid;
    .plugin{
        width: 100%;
        border: solid;
    }
}
ion-card{
    img{
        max-height: 150px;
    }
}
}
body.plugin{
    width: 100%!important;
}